@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-tab-dropdown-item {
  sky-tab-button {
    display: flex;
  }

  ::ng-deep {
    .sky-btn-tab {
      margin: 0;
      display: flex;
      border-radius: 0;
      width: 100%;

      > .sky-btn-tab-close {
        flex: 0 0 auto;
      }
    }
  }
}
