<div class="sky-vertical-tabset-group">
  <div *skyThemeIf="'default'"
    class="sky-vertical-tabset-group-header sky-padding-even-default"
    [ngClass]="{
      'sky-vertical-tabset-group-header-sub-open sky-emphasized': subMenuOpen(),
      'sky-deemphasized': disabled,
      'sky-vertical-tabset-disabled': disabled
    }"
    [tabIndex]="-1"
    (click)="toggleMenuOpen()"
    (keyup.enter)="toggleMenuOpen()"
  >
    {{ groupHeading }}
    <sky-chevron
      class="sky-vertical-tabset-group-header-chevron"
      [direction]="open ? 'up' : 'down'"
      [disabled]="disabled"
      (directionChange)="toggleMenuOpen()"
      (keyup.enter)="$event.stopPropagation()"
    >
    </sky-chevron>
  </div>
  <div *ngIf="open"
    class="sky-vertical-tabset-group-content"
    [@tabSlide]
  >
    <ng-content></ng-content>
  </div>

  <div *skyThemeIf="'modern'"
    class="sky-vertical-tabset-group-header sky-padding-even-default"
    [ngClass]="{
      'sky-vertical-tabset-group-header-sub-open sky-font-emphasized': subMenuOpen(),
      'sky-deemphasized': disabled,
      'sky-vertical-tabset-disabled': disabled
    }"
    [tabIndex]="-1"
    (click)="toggleMenuOpen()"
    (keyup.enter)="toggleMenuOpen()"
  >
    {{ groupHeading }}
    <ng-container>
      <sky-chevron
      class="sky-vertical-tabset-group-header-chevron"
      [direction]="open ? 'up' : 'down'"
      [disabled]="disabled"
      (directionChange)="toggleMenuOpen()"
      (keyup.enter)="$event.stopPropagation()"
    >
    </sky-chevron>
    </ng-container>
  </div>
  <div
    class="sky-vertical-tabset-group-content"
    *ngIf="open"
    [@tabSlide]
  >
    <ng-content></ng-content>
  </div>
</div>
