<sky-tabset
  (activeChange)="handleTabChange($event)"
  (tabIndexesChange)="onTabIndexesChange($event)"
  [active]="activeTab"
  permalinkId="classes"
>
  <sky-tab
    permalinkValue="class-series"
    tabHeading="{{ 'classes_tab_label' | skyAppResources }}"
  >
    1
  </sky-tab>
  <sky-tab
    permalinkValue="class-attendance"
    tabHeading="{{ 'class_attendance_tab_label' | skyAppResources }}"
  >
    2
  </sky-tab>
  <sky-tab
    permalinkValue="configuration"
    tabHeading="{{ 'configuration_tab_label' | skyAppResources }}"
  >
    3
  </sky-tab>
</sky-tabset>
